{{ include ../t_std_head.html }}

<h4>{{PNAME}} Configuration #{{index}} '{{NAME}}'</h4>

<form method="post">

  <button type="submit" class="btn btn-warning btn-lg float-right">Submit</button>

  <h4>
    <span class="badge badge-dark col-sm-12">Gadget</span>
  </h4>

  <div class="form-group row">
    <label for="NAME" class="col-sm-2 form-text">Gadget Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="NAME" id="NAME" value="{{NAME}}">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 form-text">Enabled</div>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label form-text">
          <input class="form-check-input" type="checkbox" name="ENABLE" id="ENABLE" value="ACTIVE" {{if ENABLE}}checked{{end}}>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="TIMER" class="col-sm-2 form-text">Timer Interval</label>
    <div class="input-group col-sm-2">
      <input type="number" min="1" max="9999" class="form-control" name="TIMER" id="TIMER" value="{{TIMER}}">
      <div class="input-group-append">
        <span class="input-group-text">sec</span>
      </div>
    </div>
    <div class="col-sm-7 form-text text-muted">Leave empty for update on each transmit</div>
  </div>

  
  <h4>
    <span class="badge badge-dark col-sm-12">Serial Adapter</span>
  </h4>

  <div class="form-group row align-items-center">
    <label for="PORT" class="col-sm-2 form-text">Serial Port</label>
    <div class="col-sm-5">
      <select class="form-control" name="PORT" id="PORT" value="{{PORT}}">
        {{ for item in UARTS }}
          <option value="{{item}}">{{item}}</option>
        {{ end }}
      </select>
    </div>
  </div>


  <h4>
    <span class="badge badge-dark col-sm-12">Dust Sensor Input Response</span>
  </h4>

  {{ if RespVarPM1 }}
    <div class="form-group row">
      <label for="RespVarPM1" class="col-sm-2 form-text">Resp. Variable PM10</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="RespVarPM1" id="RespVarPM1" value="{{RespVarPM1}}">
      </div>
    </div>
  {{ end }}

  {{ if RespVarPM2_5 }}
    <div class="form-group row">
      <label for="RespVarPM2_5" class="col-sm-2 form-text">Resp. Variable PM2.5</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="RespVarPM2_5" id="RespVarPM2_5" value="{{RespVarPM2_5}}">
      </div>
    </div>
  {{ end }}

  {{ if RespVarPM10 }}
    <div class="form-group row">
      <label for="RespVarPM10" class="col-sm-2 form-text">Resp. Variable PM10</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="RespVarPM10" id="RespVarPM10" value="{{RespVarPM10}}">
      </div>
    </div>
  {{ end }}

  {{ if RespVarPM100 }}
    <div class="form-group row">
      <label for="RespVarPM100" class="col-sm-2 form-text">Resp. Variable PM10</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="RespVarPM100" id="RespVarPM100" value="{{RespVarPM100}}">
      </div>
    </div>
  {{ end }}

  <hr>

  <button type="submit" class="btn btn-warning btn-lg float-right">Submit</button>

</form>

{{ include ../t_std_foot.html }}