{{ include ../t_std_head.html }}

<h4>Gadget TestB Configuration #{{index}} '{{NAME}}'</h4>

<form method="post">

  <button type="submit" class="btn btn-warning btn-lg float-right">Submit</button>

  <h4>
    <span class="badge badge-dark col-sm-12">Gadget</span>
  </h4>

  <div class="form-group row">
    <label for="NAME" class="col-sm-2 form-text">Gadget Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="NAME" id="NAME" value="{{NAME}}">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 form-text">Enabled</div>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label form-text">
          <input class="form-check-input" type="checkbox" name="ENABLE" id="ENABLE" value="ACTIVE" {{if ENABLE}}checked{{end}}></label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="TIMER" class="col-sm-2 form-text">Timer Interval</label>
    <div class="input-group col-sm-2">
      <input type="number" min="1" max="9999" class="form-control" name="TIMER" id="TIMER" value="{{TIMER}}">
      <div class="input-group-append">
        <span class="input-group-text">sec</span>
      </div>
    </div>
  </div>


  <h4>
    <span class="badge badge-dark col-sm-12">Example heading</span>
  </h4>

  <div class="form-group row">
    <label for="abc" class="col-sm-2 form-text">Number</label>
    <div class="input-group col-sm-2">
      <input type="number" class="form-control" name="abc" id="abc" value="{{abc}}">
      <div class="input-group-append">
        <span class="input-group-text">sec</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 form-text">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label form-text">
          <input class="form-check-input" type="checkbox" checked> Enable
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="set" class="col-sm-2 form-text">Example select</label>
    <div class="col-sm-3">
      <select class="form-control" name="sel" id="sel">
        <option value="1" {% if sel=='1' %} selected{% endif %}>Lorem</option>
        <option value="2" {% if sel=='2' %} selected{% endif %}>Ipsum</option>
        <option value="3" {% if sel=='3' %} selected{% endif %}>Dolor</option>
        <option value="4" {% if sel=='4' %} selected{% endif %}>Sit</option>
        <option value="5" {% if sel=='5' %} selected{% endif %}>Amet</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="exampleFormControlTextarea1" class="col-sm-2 form-text">Example textarea</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">Lorem ipsum dolor sit amet</textarea>
    </div>
  </div>



  <hr>

  <button type="submit" class="btn btn-warning btn-lg float-right">Submit</button>

</form>


{{ include ../t_std_foot.html }}