
body {
    background-color: #fcfaf3 !important;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.8); /* IE */
  -moz-transform: scale(1.8); /* FF */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -o-transform: scale(1.8); /* Opera */
  margin-left: -0.75rem;
  margin-right: 1.75rem;
}


.card {
    background-color: #fcf7e4;
    border: 1px solid #d1d7dd !important;
    border-radius: 4px;
    margin: 0.5rem;
}
.gadgets .card-header {
    background-color: #d6fdd7;
}
.gadgets .card {
    background-color: #e4fce4;
}
.gateways .card-header {
    background-color: #e9e0ff;
}
.gateways .card {
    background-color: #f3effc;
}
.rules .card-header {
    background-color: #fde2be;
}
.rules .card {
    background-color: #fff2df;
}


.badge-dark {
    text-align: left;
    font-weight: 500;
    color: #38cae0 !important;
    background-color: #343A40 !important;
    border-bottom: 1px solid #FFCE3B;
    border-radius: 0;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.badge-secondary {
    text-align: left;
    font-weight: 500;
    border-radius: 0;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}


.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ED5121 !important;
    background-color: #fcfaf3 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFCE3B;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    margin-bottom: -0.4rem !important;
    border-bottom: 0
}
.nav-tabs {
    border-bottom: 1px solid #38cae0;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.0rem !important;
    padding-left: 1.0rem !important;
}

.nav-link:hover {
    color: #38cae0 !important;
    border: 1px solid #38cae0 !important;
}


.table .thead-dark th {
    color: #FFCE3B !important;
    background-color: #343A40 !important;
    border-bottom: 1px solid #38cae0 !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.table td {
    padding-top: 0.2rem;
    padding-bottom: 0;
}

code {
    font-size: 87.5%;
    background-color: #e9ecef;
    color: #343A40;
    padding: 0.2rem;
}